@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    background-color: #1A253A;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    height: 100%;
}

h1 {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: Montserrat;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 20%;
    color: #FFF;
}

.main-intro {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    color: #FFF;
}

.main-intro img {
    height: 60%;
    order: 2; /* Move image to the right */
}

.main-intro .text-content {
    order: 1; /* Keep text on the left */
}

.main-intro h1 {
    font-size: 65px;
    line-height: 75px;
    color: #fff;
    margin: 0;
}

.main-intro p {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    max-width: 400px;
    margin: 20px 0;
    font-style:italic;
    font-weight: 900;
}

.main-intro a {
    font-size: 14px;
    display: inline-block;
    background-color: orange;
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 2px;
    font-family: Montserrat;
    font-weight: 300;
}

.header-main {
    max-width: 100%;
    height: 60px;
    background-color: #24252A;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 20px;
}

.header-main-logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 5px;
}

.header-main-logo img {
    height: 80px;
}

.header-main-logo:hover {
    cursor: pointer;
}

.header-main-nav {
    flex-grow: 1;
    display: flex;
    width: auto;
    margin-right: 70px;
}

.header-main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-main-nav ul li {
    margin: 0 15px;
}

.header-main-nav ul li a {
    padding: 0 10px;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header-main-nav ul li a:hover {
    color: orange;
    transition: color 500ms;
}

.slash-nav {
    color: #fff;
    padding: 0;
    margin-top: 11px;
    padding-top: 5px;
}

.index-category {
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.index-category-box {
    width: 200px;
    height: 200px;
    background-color: #24252A;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.index-category p {
    color: #111;
    text-align: center;
    padding-bottom: 30px;
    flex-basis: 100%;
    font-size: 22px;
}

.index-category-box h3 {
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    margin-left: 5px;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;
}

.index-category #webdev {
    background-image: url(web.png);
}

.index-category #photo {
    background-image: url(photo.png);
}

.index-category #trading {
    background-image: url(trading.png);
}

.index-category #mywork {
    background-image: url(web-devel-important.jpg);
}


.dark-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}

.index-category-box:hover .dark-overlay {
    opacity: 0;
    transition: all;
    transition-duration: 200ms;
}

.main-intro a:hover {
    font-size: 17px;
    transition: all;
    transition-duration: 500ms;
}
footer {
    background-color: #000;
    padding: 0;
}
.footer-container {
    width: 100%;
    padding: 70px 0px 20px;
}

.footerNav {
    margin: 30px 0;
}
.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.footerNav ul li a {
    color: white;
    margin:  10px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover {
    opacity: 1;
    color: orange;
}
.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p {
    color: white;
    opacity: 0.7;
    font-size: 1.2em;
}
.designer {
    opacity: 0.7;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px 5px;
}
.burger-menu-btn {
    display: none;
    background-image: url(burger-menu-open.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.burger-menu {
    display: none;
}
@media only screen and (max-width: 600px) {
    .burger-menu-btn {
        display: block;
        height: 50px;
        width: 50px;
        margin-left: 180px;
    }

    .burger-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 900;
        background-color: #111;
        list-style-type: none;
    }
    
    .burger-menu ul {
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        list-style-type: none;
        text-align: center;
        padding-left: 0;
        padding-top: 30px;
    }
    .burger-menu ul li {
        flex-basis: 100%;
        border-top: 2px solid #000;
        text-decoration: none;
    }
    .burger-menu ul li:last-child {
        border-bottom: 2px solid #000;
    }
    .burger-menu ul li a {
        height: 100%;
        padding: 30px 0;
        font-size: 2rem;
        display: block;
        flex-basis: 100%;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
        color: #fff;
    }
    .header-main {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .header-main-logo {
        padding-left: 20px;
    }

    .header-main-nav {
        display: none;
    }

    main {
        flex-direction: column;
        padding-top: 10px;
        margin-bottom: 50%;
        margin-top: 0;
    }

    .main-intro {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: 0;
    }

    .main-intro img {
        order: 1; /* Image on top in mobile view */
        max-width: 100%;
        margin-bottom: 0px;
    }

    .main-intro .text-content {
        order: 2; /* Text below image in mobile view */
    }

    .main-intro h1 {
        font-size: 3rem;
        line-height: 1.1;
        margin: 0;
    }

    .main-intro p {
        text-align: center;
        padding: 0 20px;
        margin-left: 0;
        max-width: 100%;
        font-size: 0.9rem;
        line-height: 20px;
    }

    .main-intro a {
        margin-left: 0;
    }
    .index-category {
        padding: 40px 0 20px;
        row-gap: 10px;
    }
    
    .index-category-box {
        width: calc(100% - 20px);
        height: 160px;
    }
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }
}
