@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        * {
            font-family: "Montserrat", sans-serif;
        }
        body {
            background: url(kind-and-curious-b4GePSx_Ofc-unsplash.jpg);
            margin: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .container {
            text-align: center;
            padding: 20px;
            border-radius: 20px;
            background-color: rgba(154, 154, 154, 0.397);
            margin: 10% 10% 20% 10%;
            background-size: 100%;
            background-repeat: no-repeat;
            padding-top: 100px;
            padding-bottom: 100px;
            padding-left: 50px;
            padding-right: 50px;
            max-width: 80%;
        }
        .search-container {
            margin-top: 20px;
        }
        input {
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 55%;
        }
        input:hover {
            font-size: larger;
            transition-duration: 500ms;
            transition: all;
        }
        button {
            padding: 10px 20px;
            background-color: orange;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            font-size: larger;
            transition-duration: 500ms;
            transition: all;
        }
        #weatherInfo {
            margin-top: 20px;
        }
        .header-main {
    max-width: 100%;
    height: 60px;
    background-color: #24252A;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 20px;
}
.header-main-logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}
.header-main-logo img {
    height: 80px;
}
.header-main-logo:hover{
    cursor: pointer;
}
.header-main-nav {
    flex-grow: 1;
    display: flex;
    width: auto;
    margin-right: 70px;
}
.header-main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header-main-nav ul li {
    margin: 0 15px;
}
.header-main-nav ul li a {
    padding: 0 10px;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header-main-nav ul li a:hover {
    color: orange;
    transition: color 500ms;
}
.slash-nav {
    color: #fff;
    padding: 0;
    margin-top: 11px;
    padding-top: 5px;
}

.info {
    font-size: 30px;
}
footer {
    background-color: #000;
    padding: 0;
}
.footer-container {
    width: 100%;
    padding: 70px 0px 20px;
}

.footerNav {
    margin: 30px 0;
}
.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.footerNav ul li a {
    color: white;
    margin:  10px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover {
    opacity: 1;
    color: orange;
}
.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p {
    color: white;
    opacity: 0.7;
    font-size: 1.2em;
}
.designer {
    opacity: 0.7;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px 5px;
}
.burger-menu-btn {
    display: none;
    background-image: url(burger-menu-open.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.burger-menu {
    display: none;
}
@media only screen and (max-width: 600px) {
    .burger-menu-btn {
        display: block;
        height: 50px;
        width: 50px;
        margin-left: 180px;
    }

    .burger-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 900;
        background-color: #111;
        list-style-type: none;
    }
    
    .burger-menu ul {
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        list-style-type: none;
        text-align: center;
        padding-left: 0;
        padding-top: 30px;
    }
    .burger-menu ul li {
        flex-basis: 100%;
        border-top: 2px solid #000;
        text-decoration: none;
    }
    .burger-menu ul li:last-child {
        border-bottom: 2px solid #000;
    }
    .burger-menu ul li a {
        height: 100%;
        padding: 30px 0;
        font-size: 2rem;
        display: block;
        flex-basis: 100%;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
        color: #fff;
    }
    .header-main {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .header-main-logo {
        padding-left: 20px;
    }

    .header-main-nav {
        display: none;
    }

    main {
        flex-direction: column;
        padding-top: 10px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .main-intro {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: 0;
    }

    .main-intro img {
        order: 1;
        max-width: 100%;
        margin-bottom: 0px;
    }

    .main-intro .text-content {
        order: 2;
    }

    .main-intro h1 {
        font-size: 3rem;
        line-height: 1.1;
        margin: 0;
    }

    .main-intro p {
        text-align: center;
        padding: 0 20px;
        margin-left: 0;
        max-width: 100%;
        font-size: 0.9rem;
        line-height: 20px;
    }

    .main-intro a {
        margin-left: 0;
    }
    .index-category {
        padding: 40px 0 20px;
        row-gap: 10px;
    }
    
    .index-category-box {
        width: calc(100% - 20px);
        height: 160px;
    }
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }
    body {
        background: url(john-towner-JgOeRuGD_Y4-unsplash.jpg);
        margin: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
